<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUlLJYUQN_OD3oOiYP8b0Eq0QuRptQ0SU</string>
	<key>GCM_SENDER_ID</key>
	<string>239846620951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.example.AnimeManager</string>
	<key>PROJECT_ID</key>
	<string>testrealtimeios</string>
	<key>STORAGE_BUCKET</key>
	<string>testrealtimeios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:239846620951:ios:c09c4ec6dcac5061124152</string>
</dict>
</plist>